<div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="logo">
        <a class="simple-text logo-normal">
            <img src="assets/img/SANTA-BLANCO.png" id="image-sidebar" width="260px" height="100px">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li routerLinkActive="active">
                <a data-toggle="collapse" routerLink="/inicio" aria-expanded="true">
                    <i class="ti-panel"></i>
                    <p>Inicio</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a data-toggle="collapse" href="#componentsExamples">
                    <i class="ti-package"></i>
                    <p>Servicios Básicos
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="componentsExamples">
                    <ul class="nav">
                        <li routerLinkActive="active" id="submenu-sidebar">
                            <a routerLink="/servicios/agua">
                                <span class="sidebar-normal">Agua</span>
                            </a>
                        </li>
                        <li routerLinkActive="active" id="submenu-sidebar">
                            <a routerLink="/servicios/luz">
                                <span class="sidebar-normal">Energía Eléctrica</span>
                            </a>
                        </li>
                        <li routerLinkActive="active" id="submenu-sidebar">
                            <a routerLink="/servicios/telefono">
                                <span class="sidebar-normal">Teléfono</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#formsExamples">
                    <i class="ti-clipboard"></i>
                    <p>
                        Patentes
                    </p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#tablesExamples">
                    <i class="ti-view-list-alt"></i>
                    <p>
                        Avaluos y catastros
                    </p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#mapsExamples">
                    <i class="ti-map"></i>
                    <p>
                        Impuestos
                    </p>
                </a>

            </li>
            <li>
                <a href="../charts.html">
                    <i class="ti-bar-chart-alt"></i>
                    <p>Registro de la propiedad</p>
                </a>
            </li>
            <li>
                <a href="../calendar.html">
                    <i class="ti-calendar"></i>
                    <p>Trámites</p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#pagesExamples">
                    <i class="ti-gift"></i>
                    <p>
                        Atención ciudadana
                    </p>
                </a>
            </li>
        </ul>
    </div>
</div>